Button {
  background-color: #f0f0f0; 
  border: none;
  padding: 15px 30px; 
  border-radius: 10px; 
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, 0.1); /* Neumorphism shadows */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
Button:hover {
  color: #ffff;
  background-color: #631ea0;
}
  